<!-- chat/templates/chat/room.html -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">


<!DOCTYPE html>
<html>
<head> 
    <meta content="charset=utf-8" http-equiv="Content-Type">
    <title>Chat Room</title>
</head>
<body>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="75"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

    <!--<div class=cable></div> -->
    <div class=controller>
        <div class=centerBlue>
            <div class=centerLeft></div>   
            <div class=centerRight></div>  
        </div>
        <div class=centerStart>
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>
        <div class=centerSelect>
            
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>

 
        <div class=controllerLeft>
            <div class=circle></div>
            <div class=crossCenter>
                <div class=crossTop></div>
                <button type="button" class="crossTop" style="opacity: 0;" onclick="sendMessage('forward')"></button>
                <div class=crossBottom></div>
                <button type="button" class="crossBottom" style="opacity: 0;" onclick="sendMessage('backward')"></button>
                <div class=crossLeft></div>
                <button type="button" class="crossLeft" style="opacity: 0;" onclick="sendMessage('left')"></button>
                <div class=crossRight></div>
                <button type="button" class="crossRight" style="opacity: 0;" onclick="sendMessage('right')"></button>
                <div class=crossCircle></div>
            </div>
        </div>
        
        <div class=controllerRight>
            <div class=backButton1Center>
                <div class= cornerLeft1></div>
                <div class= cornerRight1></div>
            </div>
            <div class=backButton2Center>
                <div class= cornerLeft2></div>
                <button type="button" class="cornerLeft2" onclick="sendMessage('go')"></button>
                <div class= cornerRight2></div>
                <button type="button" class="cornerRight2" onclick="sendMessage('stop')"></button>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
</html>

