<!-- chat/templates/chat/room.html -->



<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8">

    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
    <title>Chat Room</title>
</head>
<body>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="75"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

    <!--<div class=cable></div> -->
    <div class=controller id="button-handler">
        <div class=centerBlue>
            <div class=centerLeft></div>   
            <div class=centerRight></div>  
        </div>
        <div class=centerStart>
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>
        <div class=centerSelect>
            
            <div class=SLeft></div>
            <div class=SRight></div>
        </div>

 
        <div class=controllerLeft>
            <div class=circle></div>
            <div class=crossCenter>
                <div class=crossTop></div>
                <input type="button" class="crossTop" style="opacity: 0;" id="forward"></button>
                <div class=crossBottom></div>
                <input type="button" class="crossBottom" style="opacity: 0;" id="backward"></button>
                <div class=crossLeft></div>
                <input type="button" class="crossLeft" style="opacity: 0;" id="left"></button>
                <div class=crossRight></div>
                <input type="button" class="crossRight" style="opacity: 0;" id="right"></button>
                <div class=crossCircle></div>
            </div>
        </div>
        
        <div class=controllerRight>
            <div class=backButton1Center>
                <div class= cornerLeft1></div>
                <div class= cornerRight1></div>
            </div>
            <div class=backButton2Center>
                <div class= cornerLeft2></div>
                <input type="button" class="cornerLeft2" id="go"></button>
                <div class= cornerRight2></div>
                <input type="button" class="cornerRight2" id="stop"></button>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src='{% static "chat/jquery-3.4.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat/chat.js" %}'></script>

</html>

